# systemd unit file for ninja_cape_mqtt_bridge.py


[Unit]

# Human readable name of the unit
Description=Ninja Cape MQTT Bridge Service


[Service]

# Command to execute when the service is started
ExecStart=/usr/bin/python3 /usr/local/lib/ninjacape-mqtt-bridge/ninja_cape_mqtt_bridge.py

# Disable Python's buffering of STDOUT and STDERR, so that output from the
# service shows up immediately in systemd's logs
Environment=PYTHONUNBUFFERED=1

# Automatically restart the service if it crashes
Restart=on-failure

# Use a dedicated user to run our service
User=python_demo_service


[Install]

# Tell systemd to automatically start this service when the system boots
# (assuming the service is enabled)
WantedBy=default.target
